.logo {
    cursor: pointer;
    width: 100px;
}

nav li {
    height: 100%;
    display: flex;
    align-items: center;
}

nav li:hover {
    background-color: rgb(30, 30, 63);
    text-decoration: underline;
}

nav li.active {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    text-decoration-color: rgb(0, 0, 0);
}

ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    flex: 1;
    height: 100%;
}

ul li {
    display: flex;
    align-items: center;
    padding: 5px;
    margin: 0 15px;
    font-size: 18px;
}

ul li a {
    color: black;
    text-decoration: none;
    padding: 10px;
}

ul li a:hover {
    text-decoration: none;
    text-shadow: rgba(9, 0, 255, 0.43) 0px 0px 38px;
}